.configuracion-content {
  --background: linear-gradient(to bottom, #1e1e2e, #2a2a3b);
  color: #eee;
  opacity: 0;
  transform: translateX(60px);
  animation: slideInConfig 0.4s ease-out forwards;
}

.config-wrapper {
  padding-top: 16px;
}

ion-card {
    background: linear-gradient(to right, #000000, #4b0101);
    border-radius: 16px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
    margin-bottom: 24px;
    animation: fadeInConfig 0.6s ease-in;
}

ion-card-title {
    color: #eee;
}

ion-card-subtitle {
    color: #ffbb00;
}

ion-item{
  border-radius: 10px;
  margin-bottom: 15px;
}

ion-label {
  color: #ffbb00;
  font-weight: 500;
}

ion-input {
  color: #929292;
}

.guardar-btn {
  --background: #ffd86b;
  --color: #ffffff;
  border-radius: 10px;
  font-weight: 600;
  margin-top: 12px;
  box-shadow: 0 0 8px rgba(255, 216, 107, 0.4);
}

@keyframes fadeInConfig {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInConfig {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
