<ion-content>
  <ion-list *ngIf="!cargando && planes.length > 0; else estadoCarga">
    <ion-item *ngFor="let plan of planes">
  <ion-label>
    <h2>{{ plan.name }} - ${{ plan.price }}</h2>
    <p>{{ plan.data_limit }} por {{ plan.validity_days }} días</p>
    <ul>
      <li *ngFor="let b of plan.benefits">✔ {{ b }}</li>
    </ul>
  </ion-label>

  <ion-button fill="outline" slot="end" color="success" (click)="iniciarRecarga(plan)">
    Recargar
  </ion-button>
</ion-item>

  </ion-list>

  <ng-template #estadoCarga>
    <div *ngIf="cargando; else sinPlanes">
      <ion-spinner name="dots"></ion-spinner>
      <p style="text-align: center;">Cargando planes...</p>
    </div>
  </ng-template>

  <ng-template #sinPlanes>
    <p style="text-align: center; color: gray;">No hay planes disponibles.</p>
  </ng-template>
</ion-content>
