<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Planes de Datos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="planes.length > 0; else cargando">
    <ion-item *ngFor="let plan of planes">
      <ion-label>
        <h2>{{ plan.name }} - ${{ plan.price }}</h2>
        <p>{{ plan.data_limit }} por {{ plan.validity_days }} días</p>
        <ul>
          <li *ngFor="let b of plan.benefits">✔ {{ b }}</li>
        </ul>
      </ion-label>
    </ion-item>
  </ion-list>

  <ng-template #cargando>
    <ion-spinner name="dots"></ion-spinner>
    <p style="text-align: center;">Cargando planes...</p>
  </ng-template>
</ion-content>
